---
layout: single
---

<p>The popularity of bars is due to the fact that they offer transcendence from the cold, harsh world outside. Inns used to be places for weary travelers to rest their legs and their heart. A bar offers a setting for a good time that’s socially contagious.</p>
<center><iframe src="https://giphy.com/embed/l0EwZ27S9rXnMz7zy" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/absolutvodka-heart-romantic-l0EwZ27S9rXnMz7zy">via GIPHY</a></p></center>
<p>By improving the operation of a bar, we are able to lift guests’ spirits to a higher point than might otherwise be achieved. This positive social experience can last for days afterwards or even longer. Humans have done all they can to improve the hospitality experience, so the aim of <a href="http://tanuki.ai">Tanuki AI</a> is to augment this mission with the help of our robot friends.</p>
<center><iframe src="https://giphy.com/embed/imKrSqrDxAuvS" width="480" height="313" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/movie-major-imKrSqrDxAuvS">via GIPHY</a></p></center>
<p>Robots and AI can perform some tasks better than humans, so that the remaining jobs require “being human” as a core requirement. People enjoy interacting with human staff at a bar, but by requiring these staff to do extra tasks like mopping the floor, it restricts the employment choices and provides less time for human staff to do what they do best − <i>be human</i>.</p>

<p><a href="http://tanuki.ai">Tanuki AI</a> aims to eventually liberate bars and allow them to be staffed with with robots, <a href="https://www.linkedin.com/pulse/children-can-steal-your-jobs-back-from-robots-owen-miller">children</a>, disabled adults and <a href="https://www.applicoinc.com/blog/practical-guide-eternal-life/">ghost personalities</a>. This innovative software requires bar owners who can assist by providing the sensory inputs for a robot − please contact us if you can give Tanuki access to:
<ul>
  <li>Video files from your security cameras 📽</li>
  <li>POS feeds 📒</li>
</ul>
<a href="http://tanuki.ai">Tanuki AI</a> <i>needs</i> this data to train our algorithm. Please help to finish the software and liberate your staff. We need to see people, but we do not need to know who they are. This software is not about <i>spying</i> on people; the software will work just as well for human guests as it will for service dogs and other <a href="https://applico.engineering">minion-like creatures</a></i>.</p>

<p>To understand why it's beneficial to have a robot overlord and children working in a bar, please refer to these articles:
<ul><i>
  <li><a href="http://kokociel.blogspot.com.au/2015/02/robots-will-also-replace-androids.html">Robots Will Also Replace Androids</a></li>
  <li><a href="https://www.linkedin.com/pulse/children-can-steal-your-jobs-back-from-robots-owen-miller">Children Can Steal Your Jobs Back From Robots</a></li>
  <li><a href="http://kokociel.blogspot.com.au/2015/02/robots-have-eyes-of-innocence.html">Robots Have Eyes of Innocence</a></li>
  <li><a href="https://www.linkedin.com/pulse/robot-overlords-proof-concept-owen-miller">Robot Overlords − A Proof of Concept</a></li>
  <li><a href="https://www.applicoinc.com/blog/practical-guide-eternal-life/">A Practical Guide to Eternal Life</a></li>
</i></ul>
</p>
